{# | Variable | Type | Description | |------------------|---------|---------------------------------| | cart | object | | | cart.items_count | int | | | cart.total | string | Formatted total ex: "١٠٠ ر.س" | #}
<header class="store-header">
    {# Top Nav #} {# Main Nav #}
    <div id="mainnav" class="main-nav-container shadow-default bg-white">
        <div class="inner bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse leading-none" href="#mobile-menu">
                            <i class="sicon-menu text-primary text-2xl me-2.5"></i>
                        </a>
                        <a class="navbar-brand" href="{{ store.url }}">
                            <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }}"> {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                            {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                            {% endif %}
                        </a>

                    </div>
                    <div class="flex items-center justify-end">
                        {% component 'header.menu' %} {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                        {% else %}
                        <salla class="ml-4 rtl:ml-[unset] rtl:mr-4" class="flex">
                            <button class="header-btn" onclick="salla.event.dispatch('login::open')">

                            <i slot="icon" class="icon text-whit-500"><svg xmlns="http://www.w3.org/2000/svg" width="16.262" height="19.876" viewBox="0 0 16.262 19.876">
                                <path id="path98" d="M8.914,290.915a.9.9,0,0,0-.895.92v1.888A5.425,5.425,0,0,0,3.5,299.051v3.239l-2.448,2.445a.9.9,0,0,0,.641,1.539H4.406s0,0,0,0a4.518,4.518,0,0,0,9.037,0s0,0,0,0h2.709a.9.9,0,0,0,.641-1.539l-2.45-2.445v-3.239a5.42,5.42,0,0,0-4.515-5.329v-1.886a.9.9,0,0,0-.914-.92Zm.014,4.533a3.587,3.587,0,0,1,3.608,3.6v3.612a.9.9,0,0,0,.266.64l1.168,1.165H3.877L5.045,303.3a.9.9,0,0,0,.267-.64v-3.612a3.594,3.594,0,0,1,3.616-3.6ZM6.214,306.276h5.422a2.711,2.711,0,0,1-5.422,0Z" transform="translate(-0.794 -290.915)" fill="#fff"/>
                              </svg>
                               </i>
                               </button> {% endif %}
                            <button class="header-btn" onclick="salla.event.dispatch('login::open')">
                              <i class=" sicon-user-circle text-whit-500 "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18">
                                <g id="_002-user" data-name="002-user" transform="translate(-376 -67)">
                                  <path id="Path_2" data-name="Path 2" d="M387.261,76.1a1,1,0,0,0-1.375.568,2,2,0,0,1-3.772,0,1,1,0,0,0-1.375-.568L377.7,77.554a3,3,0,0,0-1.7,2.705V82a3,3,0,0,0,3,3h10a3,3,0,0,0,3-3V80.259a3,3,0,0,0-1.7-2.705Zm0,2.218,2.171,1.041a1,1,0,0,1,.568.9V82a1,1,0,0,1-1,1H379a1,1,0,0,1-1-1V80.259a1,1,0,0,1,.568-.9l2.171-1.041a4,4,0,0,0,6.522,0ZM384,67a4,4,0,1,0,4,4A4,4,0,0,0,384,67Zm0,2a2,2,0,1,1-2,2A2,2,0,0,1,384,69Z" fill="#fff" fill-rule="evenodd"/>
                                </g>
                              </svg>
                               </i>
                            </button>
                            <button class="header-btn toggle-search" onclick="if (!window.__cfRLUnblockHandlers) return false; return false;">
                                <i class=" sicon-user-circle text-whit-500 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.915" height="15.915" viewBox="0 0 15.915 15.915">
                                        <path id="_003-search" data-name="003-search" d="M16.771,15.047a7.652,7.652,0,1,0-1.725,1.725l1.7,1.7a1.22,1.22,0,1,0,1.725-1.725ZM5.407,10.593a5.186,5.186,0,1,1,5.186,5.186,5.186,5.186,0,0,1-5.186-5.186Z" transform="translate(-2.915 -2.915)" fill="#fff"/>
                                      </svg>

                                 </i>
                              </button>
                            <button class="header-btn" onclick="salla.event.dispatch('login::open')">
                                <i class=" sicon-user-circle text-whit-500 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19.999" height="20" viewBox="0 0 19.999 20">
                                        <g id="_001-cart" data-name="001-cart" transform="translate(-339.326 -2)">
                                          <path id="Path_1" data-name="Path 1" d="M354.326,20a1,1,0,1,1-1,1A1,1,0,0,1,354.326,20Zm-6,0a1,1,0,1,1-1,1A1,1,0,0,1,348.326,20ZM359.215,5.458l-3.995,7.989a1,1,0,0,1-.894.553h-8a1,1,0,0,0,0,2h10a1,1,0,0,1,0,2h-10a3,3,0,0,1-1.261-5.723L342.582,4h-2.256a1,1,0,0,1,0-2h3a1,1,0,0,1,.957.713L344.67,4h13.644a.952.952,0,0,1,.237.026l.008,0a1,1,0,0,1,.765.919,1.017,1.017,0,0,1-.024.279l0,.008a1,1,0,0,1-.083.224ZM356.708,6H345.27l1.8,6h6.638Z" fill="#fff" fill-rule="evenodd"/>
                                        </g>
                                      </svg>
                                 </i>
                              </button>
                            </salla-cart-summary>
                    </div>
                </div>
            </div>
        </div>

        {% if user.type=='guest' %}
        <salla-login-modal></salla-login-modal>
        {% endif %}
    </div>
</header>